# Project
# =======
Django                  >= 1.7
Pillow                  >= 2.5.3
celery                  >= 3.1.15
dealer                  >= 1.1.1
django-allauth          == 0.16.1
django-bootstrap-form   == 3.1
django-bootstrap3       >= 4.11.0
django-filebrowser      >= 3.5.7
django-grappelli        >= 2.6.1
django-redis            >= 3.7.1
psycopg2                >= 2.5.3

# Development
# ===========
Werkzeug                >= 0.9.4
django-debug-toolbar    >= 1.2.1
django-extensions       >= 1.4.0
ipdb                    >= 0.8

# Test tools
# ==========
mixer                   >= 4.8.1
pytest-django           >= 2.6.2
pytest-pythonpath       >= 0.3
pytest-xdist            >= 1.10
pytest-cov              >= 1.8
